<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet"/>
	</configSections>

	<!-- FLICKR.NET CONFIGURATION

	<flickrNet 
		apiKey="1234567890abc"	// optional - your API Key
		secret="2134123"		// optional - your shared secret
		token="234234"			// optional - if using the same 
		cacheSize="1234"		// optional, in bytes (defaults to 50 * 1024 * 1024 = 50MB)
		cacheTimeout="[d.]hh:mm:ss"	// optional, defaults to 1 day (1.00:00:00) - day component is optional
					// e.g. 10 minutes = 00:10:00 or 1 hour = 01:00:00 or 2 days, 12 hours = 2.12:00:00
		>
		<proxy		// proxy element is optional, but if included the attributes below are mandatory as mentioned
			ipaddress="127.0.0.1"	// mandatory
			port="8000"				// mandatory
			username="username"		// optional, but must have password if included
			password="password"		// optional, see username
			domain="domain"			// optional, used for Microsoft authenticated proxy servers
			/>
	</flickrNet>
	-->
	
	<flickrNet apiKey="1234567890abc" secret="2134123" token="234234" cacheSize="1234" cacheTimeout="[d.]hh:mm:ss">
		<proxy ipaddress="127.0.0.1" port="8000" username="username" password="password" domain="domain"/>
	</flickrNet>

</configuration>
